body{background-color: rgb(226, 176, 176);

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
}
header{
    color: azure;
    background-color:rgb(123, 90, 90);
padding: 10px;
    display: block;
   
}

.profil{
    padding: 20px;
    background-color: rgb(113, 63, 63);
    font-family:Arial, Helvetica, sans-serif;
}



h2{
    padding: 2px;
    font-size: 19px;
    color: azure;
    background-color: rgb(81, 53, 53);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(10, 11, 11);
    font-size: 15px;
    
}

h3{
    color: rgb(11, 12, 12);
    padding: 10px;
}

 
   section p.telephone::before {
    content: "";
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../telephone.png");
    background-size: cover;
    }
    
    section p.Email::before {
        content: "";
        display: inline-block;
        height: 30px;
        width: 30px;
        background-image: url("../e-mail.png");
        background-size: cover;
    }


    li{
        font-size: 15px;
    }

    ul{list-style-type: square;}

header{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

main {
    display: flex;
    gap: 1rem;
}
.gauche {
  /* position: absolute;
  top: 0px;
  left: 0px; */
  

}

.droite{
    /* display: flex;
    justify-content: end; */
}

